@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Merriweather:wght@400;700&family=Rampart+One&display=swap');
body {
    background-color: #BEC8BE;
}



.titles {
    margin: 4em;
    padding:1em;
    max-width: 500px;

}


h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
}

p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.5;
}




.logo {
    position: relative;
    animation-duration: 2s;
    margin: 4em;
    padding: 2em;
    max-width: 500px;
}

.bounce {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce-7 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-100px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}



.top {
    width: 100vw;
    min-height: 100vh;
    background-color: #BEC8BE;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
